.backVideo {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    z-index: -1;
  }
.blacknav{
  background-color: #000000 !important;
  color: #ffffff !important;
  transition: 0.8s !important;
}

.blacknav svg{
  fill: #ffffff !important;
  transition: 3s;
}

.wrapajust{
    padding: 95px calc(8% + 15px) !important;
    /* padding-bottom: 0px !important; */
}  
.wrapsmall{
  padding: 5% !important;
  /* padding-bottom: 0px !important; */
}  
.cont-hor{
    display: inline-flex;
    flex-wrap: wrap;
    font-size: 12px;
}
.fix-7-10 {
    max-width: 610px !important;
  }


.icono{
    width: 30px;
    height: 30px;
}
.icono2{
  width: 60px;
  height: 60px;
}
.icono3{
  width: 100px;
  height: 100px;
}
.photo1{
  width: 300px;
  height: 200px;
  box-shadow: 0 1px 4px rgba(10, 10, 10, 1), 0 2px 4px rgba(0, 0, 0, 0.1);
}
.photo2{
  width: 250px;
  height: 200px;
  box-shadow: 0 1px 4px rgba(10, 10, 10, 1), 0 2px 4px rgba(0, 0, 0, 0.1);
}
.divicon{
    text-align: center;
}

.izq{
  margin-left:10px !important;
}

.slider-container {
  display: flex;
  width: 100%;
  height: 50vh;
  overflow-x: scroll;

  /* Vamos a añadir esto 👇 */
  scroll-snap-type: x mandatory;
}

.slider-container img {
  flex: 0 0 100%;
  width: 100%;
  object-fit: cover;


  scroll-snap-align: center;
}
.galeriadot{
  text-align: center;
  height: 150px;
}
.galeriadot li{
  text-align: center;
  height: 100%;
}
.galeriadot img {
  max-width: 60%;
  display: inline-block;
}
.volatile{
  display:none;
}
.marginmenos{
  margin-bottom: 10px;
}

/* tooltip styles */

.ulHorizontal{
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.ulHorizontalnw{
  display: inline-flex;
  flex-direction: row;
}
.tooltip li {
  position: relative;
  margin-right: 20px;
  margin-bottom: 30px;
}

.tooltip li::before {
  content: attr(title);
  position: absolute;
  left: 50%;
  top: -70%;
  transform: translate(-50%, -50%) scaleX(0);
  padding: 8px;
  background-color: #000000;
  color: #ffffff;
  border-radius: 4px;
  /* box-shadow: 0 2px 8px rgba(255, 255, 255, 0.2); */
  transition: opacity 0.4s ease-out;
  font-size: 16px;
  line-height: 1.4;
  text-align: center;
  font-weight: 400;
  opacity: 0;
  width: max-content;
  max-width: 200px;
}
.tooltip li:hover::before {
  transform: translate(-50%, -50%) scaleX(1);
  opacity:0.85;
  z-index: 999;
}
/* Custom style */
.miniarrow{
  width: 30px;
  height: 30px;
}
.tablabottom{
  margin-bottom: 100px;
}

/* Tamaños Fuente */
.p12{
  font-size: 12px;
  font-weight: 500;
}
.p13{
  font-size: 13px !important;
  font-weight: 500;
  }
.p14{
  font-size: 14px !important;
  font-weight: 500;
  }
.p15{
font-size: 15px !important;
font-weight: 500;
}
.p16{
font-size: 16px !important;
font-weight: 500;
}
.p17{
  font-size: 17px !important;
  font-weight: 500;
}
.p18{
  font-size: 18px !important;
  font-weight: 500;
}
.p20{
  font-size: 20px !important;
  font-weight: 500;
}
.p22{
  font-size: 22px !important;
  font-weight: 500;
}
.p14slim{
  font-size: 14px !important;
  font-weight: 350;
}
.p15slim{
  font-size: 15px !important;
  font-weight: 350;
}
.p16slim{
  font-size: 16px !important;
  font-weight: 350;
}

.h1custom{
  font-size: 36px;
  font-weight: 500;
}
.h2custom{
  font-size: 20px;
}
.fw-600{
  font-weight: 600;
}
.fw-700{
  font-weight: 700;
}
  
/* INFINITE BAND */
@-webkit-keyframes scroll {
  0% {
    transform: translateX(0);
  }
  50%{
    transform: translateX(calc(-200px * 3));
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  50%{
    transform: translateX(calc(-200px));
  }

  100% {
    transform: translateX(0);
  }
}

.sliderx {
  background: none;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
  height: 200px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 80%;
}

.sliderx::before,
.sliderx::after {
  content: "";
  height: 100px;
  position: absolute;
  width: 200px;
  z-index: 2;
}

.sliderx::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}

.sliderx::before {
  left: 0;
  top: 0;
}

.sliderx .slidex-track {
  display: flex;
  width: calc(200px * 7);
  animation: scroll 10s linear infinite;

}

.sliderx .slidex {
  height: 40px;
  width: 160px;
  
}
.slidex object{
  height: 80px;
  width: 100px;
}


.sliderx .slidex:last-of-type {
  margin-right: -200px;
}
/* whatsapp button */
.whatsapp {
  position:fixed;
  width:50px;
  height:50px;
  bottom:30px;
  right:30px;
  background-color:#25d366;
  color:#FFF;
  border-radius:50px;
  text-align:center;
  font-size:25px;
  z-index:100;
  opacity: 0.8;
}

.whatsapp-icon {
  margin-top:13px;
}
.slides-form{
  display: flex !important;
}
form{
  flex-wrap: nowrap !important;
}
.submittxt{
  margin-left: 60px;
}
.deshabilitado{
  display: none !important;
}
/* @media (min-width: 1024px) {
  .spacing{
    left: 15%;

  }
} */
@media (max-width: 1024px) {
  .galeriadot img {
    max-width: 30%;
  }
}

@media (max-width: 1100px) {
  .dialog .ulcontainer{
    padding-top: 5%;
  }
  .dialogContainer{
    max-height: 600px;
    width: min-content;
  }
}

@media (max-width: 768px) {
  .tooltip li object{
    width: 35px;
  }
  .tooltip li::before{
    max-width: 125px;
    font-size: 12px;
  }
  .dialog h2{
    font-size: 22px;
  }
  .embedVideo{
    display: none;
  }
  .tooltip li{
    position: relative;
    margin-right: 5px;
    margin-bottom: 8px;
  
  }
  .slidex object {
    height: 70px;
    width: 80px;
  }
  .volatile{
    display: block;
  }
  .slider{
    width: 140%;
    right: 20%;
  }
  .dialogContainer{
    max-height: 500px;
    width: min-content;
  }
  .galeriadot img {
    max-width: 30%;
  }
}

@media (max-width: 640px) {
  .dialog .ulcontainer{
    padding-top: 10%;
  }
  .dialog ul {
    margin-top: 15%;
    
  }

}
@media (max-width: 640px) {
  .dialog .ulcontainer{
    padding-top: 10%;
    
  }
  .dialog ul {
    margin-top: 15%;
    
  }
  .galeriadot img {
    min-width: 35%;
  }
  .slider{
    width: 140%;
    right: 20%;
  }
  .dialogContainer{
    max-height: 400px;
    width: min-content;
  }
}
@media (max-width: 540px) {

  .slider{
    width: 160%;
    right: 30%;
  }
}
/* @media (max-width: 640px) {

} */

/* DIALOG CUSTOM */
/* .dialogContainer{
  position: fixed;
  overflow: scroll;
} */
.dialog{
  font-family: 'Libre+Baskerville';
  background-color: rgb(255, 246, 234);
}
.dialog-header{
  background-color: #000000;
  margin: 0;
  padding: 0;
  top: 0;
  width: min-content;
  left: 0;
  color:rgb(255, 245, 233);

}
/* .dialog-header h2{
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  padding-top: 7px;
} */
.dialog-header button{
  background: none;
}
.dialog ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  padding-right: 4%;
  margin-top: 5%;
  width: 100%;
  
}
.dialog .h3custom{
  padding-top: 10%;
  font-size: 22px;
}
.dialog .ulcontainer{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.dialog-content li {
  padding-bottom: 4px !important;
}
.page-nav {
  position: absolute;
}
/* Estilos para la barra de desplazamiento */
/* .ulcontainer::-webkit-scrollbar {
  width: 5px;
  background-color: transparent; 
}

.ulcontainer::-webkit-scrollbar-thumb {
  background-color: rgb(0, 0, 0); 
  border-radius: 5px; 
}


.ulcontainer::-webkit-scrollbar-thumb:hover {
  background-color: #999; 
} */
.dialogTrigger{
  cursor: pointer;
}
.flex > .col-2-12 {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.flex > .col-5-12 {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
/* .roundeffect{
  border-radius: 30%;
  border: 2px solid black;
  opacity: 0;
  padding-top: 2px;
  padding-bottom: 2px;
} */
/* .roundeffect:hover{
  opacity: 0.8;
  background-color: #FFF;
  color: #000000;
  transition: all 0.3s ease; /* para suavizar la transición
} */
.space{
  margin-top: 25px;
}
.dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: max-content;
  height: 80%;
  max-width: 800px;
  max-height: 600px;
  background-color:rgb(250, 240, 228);
  /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6); */
}

.dialog-header {
  width: 100%;
  height: 50px;
  background-color: black;
  color: rgb(250, 240, 228);
  text-align: center;
  font-size: 20px;
  line-height: 50px;
  position: sticky;
  z-index: 333;
  padding-left: 30px;
  padding-right: 35px;
}

.dialog-content {
  padding: 20px;
  text-align: center;
}

.popup-container::-webkit-scrollbar {
  width: 10px;
  background-color: transparent;
}

.popup-container::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 5px;
}
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(0, 0, 0);
  border-radius: 6px;
}
.smallbutton{
  border-style:solid;
  border-width: 2px;
  background-color: transparent;
  border-radius: 100px;
  /* height: 25px; */
  margin-top: 30px;
  padding: 5px;

}
.smallbutton p{
  text-align: center;
  margin-bottom: 0px;
  padding: 0px;
}
.smallbutton:hover{
  border-color: #000000;
  background-color: black;
  box-shadow: 0px 0px 6px 0px #ffffff57;
  transition: 2s;
  margin-top: 30px;
  padding: 5px;

}
.center{
  align-content: center;
}
.content-container {
  height: calc(100% - 48px);
  padding: 10px;
  overflow-y: scroll;
}
